<!DOCTYPE html>
<html>
<head>
    <title>Todos and Notes</title>
</head>
<body>

    <h2>I'm a web page that displays your notes and todos</h2>

    <a href="/todos">View Todos</a><br><br>
    <a href="/notes">View Notes</a>

    <link rel="stylesheet" href="css/styles.css">

</body>
</html>
