<!DOCTYPE html>
<html>
<head>
    <title>Todos and Notes</title>
</head>
<body>

<div id="todos">
    <h1>Todos:</h1>
    {{#each todos}}
        <li>{{this}}</li>
    {{/each}}
</div>

<link rel="stylesheet" href="css/styles.css">
</body>
</html>
